<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../css/fonts/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/forms.css">

</head>

<body>


<nav th:replace="fragments/navbar"></nav>


<container>
    <section class="bg-image">
        <div class="mask d-flex align-items-center gradient-custom-3">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">ADD PRODUCT</h2>

                                <form th:action="@{/moderator-panel}" th:method="POST" th:object="${addNewProductDTO}">

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Name</label>
                                        <input class="form-control form-control-lg"
                                               name="name"
                                               th:field="*{name}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               placeholder="Model name">
                                        <p class="invalid-feedback">
                                            Model name is required and should be between 4 and 25 symbols.
                                        </p>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Brand</label>
                                        <input class="form-control form-control-lg"
                                               name="brand"
                                               th:field="*{brand}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               placeholder="Brand name">
                                        <p class="invalid-feedback">
                                            Brand name is required and should be between 4 and 20 symbols.
                                        </p>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Color</label>
                                        <input class="form-control form-control-lg"
                                               name="color"
                                               th:field="*{color}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               placeholder="Color">
                                        <p class="invalid-feedback">
                                            Color is required and should be between 2 and 20 symbols.
                                        </p>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Size</label>
                                        <input class="form-control form-control-lg"
                                               name="color"
                                               th:field="*{size}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               placeholder="Enter Size">
                                        <p class="invalid-feedback">
                                            Size is required and should be between 1 and 15 symbols.
                                        </p>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Price</label>
                                        <input class="form-control form-control-lg"
                                               name="price"
                                               th:field="*{price}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               placeholder="Enter Price">
                                        <p class="invalid-feedback">
                                            Price is required and should be Positive number.
                                        </p>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Fabric</label>
                                        <input class="form-control form-control-lg"
                                               name="fabric"
                                               th:field="*{fabric}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               placeholder="Fabric">
                                        <p class="invalid-feedback">
                                            Fabric is required and should be between 2 and 20 symbols.
                                        </p>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Path to File</label>
                                        <input class="form-control form-control-lg"
                                               name="path"
                                               th:field="*{path}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               placeholder="Path : '/images/images/category/collection/file'">
                                        <p class="invalid-feedback">
                                            Path is required.
                                        </p>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Category Id</label>
                                        <input class="form-control form-control-lg"
                                               name="category"
                                               th:field="*{category}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               placeholder="Enter Category Id">
                                        <p class="invalid-feedback">
                                            Category id is required.
                                        </p>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Collection Id</label>
                                        <input class="form-control form-control-lg"
                                               name="collection"
                                               th:field="*{collection}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               placeholder="Enter Category Id">
                                        <p class="invalid-feedback">
                                           Collection id is required.
                                        </p>
                                    </div>



                                    <div class=" d-flex justify-content-center">
                                        <button type="submit"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            Add Product
                                        </button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</container>

<section th:replace="/fragments/footer"></section>


<script src="../js/app.js"></script>
</body>


</html>